﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Friend //Opsional
@{
    ViewData["Title"] = "Delete Friend";

}

<div>Are you sure delete @Model.Name Data?</div>

<form action="Delete" method="post">
<div class="form-group row">
    <input type="hidden" id="id" name="Id" value="@Model.Id"></input>
    <div>
        <button type="submit" class="btn btn-warning">Submit</button>
        <a class="btn btn-light" asp-asp-controller="Friend" asp-action="Index">Bact To List</a>
    </div>
</div>
</form>