﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Friend //Opsional
@{
    ViewData["Title"] = "Detail Friend";

}

<div class="h4 ab-4">Edit Form Friend</div>

<div >
    <div class="form-group row">
        <label for="Id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" id="Address" name="Address" readonly>@Model.address</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <a class="btn btn-light" asp-asp-controller="Friend" asp-action="Index">Bact To List</a>
        </div>
    </div>
</div>
